<div class="flex flex-col gap-1 w-full">
    <div class="flex items-center w-full gap-1">
        <p-floatlabel variant="on" class="w-full flex-1">
            <input
                (click)="pop.toggle($event)"
                pInputText
                type="text"
                readonly
                [value]="itemName ?? ''"
                id="resource-name-{{label}}"
                class="w-full px-1.5 py-1 rounded outline-none cursor-pointer" />
            <label for="resource-name-{{label}}">{{ label }}</label>
        </p-floatlabel>

        <p-button
            (click)="pop.toggle($event)"
            icon="pi pi-chevron-down"
            severity="secondary"
            class="shrink-0 w-6 h-6 flex items-center justify-center rounded">
        </p-button>
    
        <p-popover #pop appendTo="body" styleClass="!rounded-none [&::before]:hidden [&::after]:hidden">
            <div class="flex flex-col min-w-[10rem]">
                <div
                    *ngFor="let action of actions"
                    (click)="onAction(action); pop.hide()"
                    class="flex items-center gap-2 px-2 py-1.5 text-xs cursor-pointer transition-colors
                        hover:bg-[var(--theme-color-muted)]">
                    <i *ngIf="action.icon" [class]="action.icon + ' text-xs shrink-0'"></i>
                    <span>{{ action.label }}</span>
                </div>
            </div>
        </p-popover>
    </div>
  </div>