<div class="flex flex-col gap-1 w-full">
    <p-floatlabel variant="on" class="w-full">
      <p-inputNumber
        [ngModel]="value"
        [name]="label"
        (ngModelChange)="onChange($event)"
        [prefix]="prefix"
        [suffix]="suffix"
        [step]="step"
        [min]="min"
        [max]="max"
        [minFractionDigits]="minFractionDigits"
        [maxFractionDigits]="maxFractionDigits"
        [disabled]="readonly"
        inputId="num-input-{{label}}"
        styleClass="w-full"
        inputStyleClass="w-full px-1.5 py-1 rounded outline-none text-sm" />

      <label for="num-input-{{label}}">{{ label }}</label>
    </p-floatlabel>
  </div>