<!-- select-control.html -->
<div class="flex flex-col gap-1">
    <p-floatlabel variant="on">
      <p-select
        [options]="options"
        optionLabel="label"
        optionValue="value"
        [ngModel]="value"
        (ngModelChange)="onChange($event)"
        id="select-{{label}}"
        styleClass="w-full text-xs"
        appendTo="body"
        >
  
        <ng-template let-option #item>
          <div class="flex items-center gap-2 text-xs">
            <i *ngIf="option.icon" [class]="option.icon + ' shrink-0'"></i>
            <span>{{ option.label }}</span>
          </div>
        </ng-template>
  
      </p-select>
      <label for="select-{{label}}">{{ label }}</label>
    </p-floatlabel>
  </div>